body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  /* background-color: #DAAFA1; */
  background-color: white;
}

nav {
  background-color: #c78a80;
  padding: none;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
  text-decoration: none;
  color: white;
}

p, h2 {
    margin: 0px;
}

.nav-item {
  display: flex;
  color: white;
}

#nav-brand {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
}

#nav-links {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding-right: 20px;
}

#nav-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

.nav-list-item {
  padding-left: 15px;
  padding-right: 15px;
}

header {
  display: flex;
  flex-flow: column wrap;
  background-image: url("../img/ant2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
  height: 500px;
}

#title-large,
#nav-brand {
  font-family: "Zen Dots", cursive;
}

#titles {
  margin: auto;
}

.title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  text-shadow: -1px 1px 10px #000;
}

#title-small {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

#title-large {
  padding-bottom: 30px;
}

/* MAIN CONTENT */
#main-content {
    display: flex;

}

.main-section {
    flex-grow: 3;
    display: flex;
    flex-wrap: wrap;
}

/* CARDS */
.card-container{
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: solid 1px grey;
    background-color: #E5C7BD;
    box-shadow: 0px 0px 1px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    flex-grow: 1;
}
.card-container:hover {
    box-shadow: 0px 0px 1px rgba(0,0,0,.2);
}

.card .card-img {
    height: 200px;
    overflow: hidden;
    transform: scale(0.95);
    box-shadow: 0px 0px 20px rgba(0,0,0,.2);
    transition: transform 0.3s;
}

.card:hover .card-img {
    transform: scale(1);
}

.card .card-img img {
    height: 100%;
    min-width: 100%;
}

.card-title {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}

.card-description {
    padding: 10px;
}

.card-container .card .call-to-action {
    margin-top: auto;
    align-self: flex-start;
}

.card .call-to-action a {
    background-color: #814E50;
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
    margin-top: auto;
}



/* FOOTER */
footer{
    background-color: #C78A80;
    color: white;
    padding: 5px;
    font-size: small;
    text-align: center;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
